

@font-face{
	font-family: "billabong";
	src:url(/Billabong-Font/Billabong.ttf);
}





.blocliens{
	width: fit-content;
    margin: 0 auto;
}






.dimensionsth,.dimensionstw{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}



.copier,#copiertout{
    width: fit-content;
    background-color: transparent;
    border: none;
}
.copier:hover{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.144);
    border: none;
}



.copier:active{
    width: fit-content;
    background-color: rgba(30, 181, 241, 0.144);
    border: none;
}



   /*    visuel */


.text-center{

	padding: 10px;
	margin: 10px;
}

#firstrow{
	margin-top: 105px;
}

   .thumb-wrapper{
       width:99% ;
       height:470px;
   }


/*LOGO*/
header{
	width: 100%;
	display: flex;
	background-color: rgba(255, 255, 255, 0);
	/*box-shadow: 0px 0px 2px #aaaaaa8a ;*/
	margin-bottom: 20px;
	top:0px;
	z-index: 2;
	
}

.logo{
	width: 16%;
	min-width: 250px;
	
	margin: 0 auto;
	padding: 5px;
	
}
 .entete{
	 font-family: "billabong";
	 
	 text-align: center;
	 padding-top: 6px;
	 padding: 5px;
	margin-top: 15px;
 }

 .container-xl .entete{
	font-family: "billabong";
	 color: #333;
	text-align: center;
	padding-top: 6px;
	padding: 5px;
   margin-top: 15px;
 }





.thumb-content p{
    color: rgb(0, 0, 0);
}

.thumb-content h4{
    color: brown;
}
    /*    Fin de visuel */








	.col-md-6{
		height: fit-content;

	}















    /*    Faire entrer les liens */
  
body {
	color: #fff;
	background: #19aa8d;
	font-family: 'Roboto', sans-serif;
	background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	min-width: 300px;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
    border-radius: 40px;
		
}
.signup-form form {
	color: #999;
	border-radius: 20px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 40px;
    box-shadow:5px 10px  rgba(51, 51, 51, 0.466);
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
#colcodesnipet .signup-form .form-group {
	margin-bottom: 8px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: linear-gradient(45deg, #405de6, #5851db, #8f2bd1, #8235c1, #e1306c, #fd1d1d);
	border: none;
	min-width: 140px;
	border-radius: 2rem;
}


#btneffacer{
	font-size: 16px;
	font-weight: bold;
	background: linear-gradient(45deg, #ca1bca, #d651db, #a928b4, #ad2673, #e1306c, #fd1d1d);
	border: none;
	min-width: 140px;
	border-radius: 2rem;
}
#btneffacer:hover{
	font-size: 16px;
	font-weight: bold;
	background: linear-gradient(45deg, #881288, #823085, #59145f, #6d1748, #701835, #7a0e0e);
	border: none;
	min-width: 140px;
	border-radius: 2rem;
}

.signup-form .btn:hover, .signup-form .btn:focus {
	background:linear-gradient(90deg, #833ab4, #5851db,#405de6);
}
.signup-form a {
	color: rgb(255, 255, 255);	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #19aa8d;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
 /*   fin de  Faire entrer les liens */

 
  
  


  /* croorectionmarge */
  .row{
	margin-right: 0;
    margin-left: 0;
  }






  .navbar.fixed-top{
	  background:transparent;
  }

  .navbar.fixed-top.top-nav-collapse{
	  background: white;
  }




  .container-xl {
    max-width: 1400px;
}



/* THIRDROW*/
#thirdrow .signup-form {
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
#buttons{
	display: flex;
	justify-content: space-between;
}